<article class="post h-entry release-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header release-header">
    <a href="{{ include.post.html_url }}" class="meta-link">
      <h1 class="post-title p-name" itemprop="name headline">{{ include.post.tag | escape }}</h1>
    </a>
    <div class="post-meta release-meta">
      <div class="release-author">
        {% if include.post.author_avatar %}
          <img src="{{ include.post.author_avatar }}" alt="@{{ include.post.author }}" size="20" height="20" width="20" class="avatar" />
        {% endif %}
        {% if include.post.author_link %}
          <a class="name" href="{{ include.post.author_link }}">{{ include.post.author }}</a>
        {% else %}
          <span class="name">{{ include.post.author }}</span>
        {% endif %}
        released this
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% assign pdate = include.post.published_at | date_to_xmlschema %}
        <time class="dt-published" datetime="{{ pdate }}" itemprop="datePublished">
          {{ pdate | date: date_format }}
        </time>
      </div>
    </div>
  </header>

  <div class="post-content e-content release-note-content" itemprop="articleBody">
    {{ include.content }}
  </div>
</article>
