@media only screen and (min-width: 320px) and (max-width: 740px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .reports {
    width: 100%;
  }

  .releases {
    width: 100%;
  }

  /* Override values from coverage css */

  .stat-container {
    width: 3rem;
  }

  .stat-header {
    font-size: small;
    font-weight: 500;
  }

  .stat-percent {
    font-size: x-large;
    font-weight: bolder;
  }

  /* override values from playwright css */

  .stat-item {
    width: fit-content;
    padding: 0.5rem 0.3rem;
  }

  .stat-count {
    margin-left: 0;
    min-width: 1rem;
  }

  .report-stats {
    line-height: 1.25rem;
  }

  .status-icon {
    height: 2rem;
    width: 2rem;
  }
}

@media only screen and (min-width: 740px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    justify-content: center;
  }

  .reports {
    width: 65%;
  }

  .releases {
    width: 35%;
  }

  .main-reports h2:first-child {
    margin-top: 0;
  }

  .releases article:first-child {
    margin-top: 0;
  }

  /* Override values from coverage css */

  .stat-container {
    width: 4.5rem;
  }

  .stat-header {
    font-size: medium;
    font-weight: 500;
  }

  .stat-percent {
    font-size: x-large;
    font-weight: bolder;
  }

  /* override values from playwright css */

  .stat-item {
    padding: 0.5rem 0.75rem;
  }

  .stat-count {
    margin-left: 0;
    min-width: 1.5rem;
  }

  .report-stats {
    line-height: 1.5rem;
  }

  .status-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.reports {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.post-content h2 {
  margin-top: 3rem;
}

.post-content h3 {
  margin-bottom: 0;
}

.main-reports {
  width: 100%;
}

.main-reports h3 {
  margin-top: 2.5rem;
}

.branch-reports {
  margin-top: 3rem;
  width: 100%;
}

.branch-header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.branch-header h3 {
  margin: 0;
}

/* override values from playwright css */

.stat-item {
  color: #24292f;
  border: 1px solid #d0d7de;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
